* {
  padding: 0;
  margin: 0;
  box-sizing: content-box; }

html {
  font-size: 62,5%; }

@font-face {
  font-family: tipografia;
  src: url("../fonts/UbuntuCondensed-Regular.ttf"); }

body {
  background-color: #53ca98;
  font-family: tipografia, sans serif;
  font-size: 2.5rem; }

.color__nav {
  background-color: #53ca98; }

.barraNavegacion {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  font-size: 0;
  width: 100%; }
  .barraNavegacion li {
    background-color: #53ca98;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 2px;
    margin: 3px;
    justify-items: space-evenly;
    align-items: space-around;
    width: 16,66%;
    font-size: 30px; }
    .barraNavegacion li a {
      color: white;
      text-decoration: none;
      text-shadow: 2px 2px 2px #FF7C70;
      display: flex;
      flex-wrap: wrap;
      margin-left: 7vw; }
      .barraNavegacion li a:hover {
        color: #FF7C70;
        transition: 1s;
        text-shadow: 0; }

.centrar, .color__nav, .barraNavegacion, .barraNavegacion li, .color__cabecera, .blog__contenedor .blog__hijo1 .blog__nieto, .blog__contenedor .blog__hijo2 .blog__nieto {
  justify-content: center;
  align-items: center; }

.color__cabecera {
  background-color: #53ca98;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap; }
  .color__cabecera .logo__hijo {
    display: flex;
    padding: 0; }
    .color__cabecera .logo__hijo .logo {
      height: 75px;
      width: 75x; }
  .color__cabecera .portada__imagen {
    background-image: url("../images/portada4.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    height: 25rem;
    width: 100%;
    position: center; }
    .color__cabecera .portada__imagen h1 {
      display: none; }
    @media (max-width: 768px) {
      .color__cabecera .portada__imagen {
        width: 100%; } }
    @media (max-width: 360px) {
      .color__cabecera .portada__imagen {
        width: 100%; } }

.blog__titulo {
  background-color: white;
  text-align: center;
  font-size: 4rem;
  text-decoration: underline;
  margin: 40px;
  display: flex;
  flex-direction: row;
  margin-top: 8rem;
  text-align: center; }

.blog__subtitulo {
  color: #204580;
  text-align: center;
  font-size: 3rem;
  text-decoration: underline;
  margin: 2rem;
  display: flex;
  flex-direction: row; }

.blog__contenedor {
  color: #204580;
  top: 25px;
  font-size: 2rem;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-around; }
  .blog__contenedor .blog__hijo1 {
    display: flex;
    flex-direction: row;
    justify-items: center; }
    .blog__contenedor .blog__hijo1 .blog__imagen {
      display: flex;
      margin: 1.5rem;
      height: 180px;
      width: 300px;
      border-radius: 25px;
      justify-content: space-around;
      flex-wrap: wrap; }
    .blog__contenedor .blog__hijo1 .blog__nieto {
      display: flex;
      flex-direction: column;
      justify-items: center; }
      .blog__contenedor .blog__hijo1 .blog__nieto .blog__entradas {
        color: #204580;
        top: 25px;
        font-size: 1.5rem;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
        justify-items: auto;
        line-height: 1.4;
        margin: 1rem;
        text-align: start; }
  .blog__contenedor .blog__hijo2 {
    display: flex;
    flex-direction: row-reverse;
    justify-items: center; }
    .blog__contenedor .blog__hijo2 .blog__imagen {
      display: flex;
      margin: 1.5rem;
      height: 180px;
      width: 300px;
      border-radius: 25px;
      justify-content: space-around;
      flex-wrap: wrap; }
    .blog__contenedor .blog__hijo2 .blog__nieto {
      display: flex;
      flex-direction: column;
      justify-items: center; }
      .blog__contenedor .blog__hijo2 .blog__nieto .blog__entradas {
        color: #204580;
        top: 25px;
        font-size: 1.5rem;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
        justify-items: auto;
        line-height: 1.4;
        margin: 1rem;
        text-align: start; }

.nosotrxs__card {
  display: flex;
  flex-direction: row;
  justify-items: space-around;
  align-items: center;
  padding: 0.75rem;
  margin: 1rem;
  margin-top: 5rem;
  border: double 0.5rem #FF7C70;
  overflow: hidden; }
  .nosotrxs__card .nosotrxs__lista li {
    color: white;
    list-style: lower-greek;
    margin: 2rem; }
  .nosotrxs__card .nosotrxs__imagen {
    margin: 1rem;
    width: 23.5rem;
    height: 18.5rem;
    border-radius: 1rem; }

.footer {
  display: flex;
  background-image: url("../footer.jpg");
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
  flex-direction: column;
  justify-content: space-evenly;
  align-content: center; }
  @media (max-width: 768px) {
    .footer {
      width: 100%; } }
  @media (max-width: 360px) {
    .footer {
      width: 100%; } }
  .footer .footer__redes {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: space-around; }
    .footer .footer__redes a {
      display: flex;
      flex-direction: row;
      text-align: center;
      display: flex;
      height: 50px;
      width: 50px; }
  .footer .logo {
    height: 75px;
    width: 75px;
    margin-left: 50%; }
