html{
    font-size: 62,5%;
}

@font-face {
    font-family: tipografia;
    src: url("../fonts/UbuntuCondensed-Regular.ttf");
}
body {
    background-color: #53ca98;
    font-family: tipografia, sans serif;
    font-size: 1,8rem;
}
/*Grid - Estructura */

/* .grid__Index{
    display: grid;
    grid-template-columns: repeat(5, 20%);
    grid-template-rows: 3% 19% 30% 41% 7%;
    grid-template-areas: 
    "nav nav nav nav nav"
    "portada portada portada portada portada"
    "sec1 sec1 sec1 sec1 sec1"
    "sec1 sec1 sec1 sec1 sec1"
    "pie pie pie pie pie";
}
.grid__Nosotrxs{
    display: grid;
    grid-template-columns: repeat(5, 20%);
    grid-template-rows: 6.5% 38% 20% 21.5% 14%;
    grid-template-areas: 
    "nav nav nav nav nav"
    "portada portada portada portada portada"
    "sec1 sec1 sec1 sec1 sec1"
    "sec1 sec1 sec1 sec1 sec1"
    "pie pie pie pie pie";
}
.grid__Multimedia{
    display: grid;
    grid-template-columns: repeat(5, 20%);
    grid-template-rows: 3% 14% 32% 46.5% 4.5%;
    grid-template-areas: 
    "nav nav nav nav nav"
    "portada portada portada portada portada"
    "sec1 sec1 sec1 sec1 sec1"
    "sec1 sec1 sec1 sec1 sec1"
    "pie pie pie pie pie";
}

.grid__Relatos{
    display: grid;
    grid-template-columns: repeat(4, 25%);
    grid-template-rows: 5.5% 31.5% 25% 29% 9%;
    grid-template-areas: 
    "nav nav nav nav"
    "portada portada portada portada"
    "sec1 sec1 sec1 sec1"
    "sec1 sec1 sec1 sec1"
    "pie pie pie pie";
}
.grid__Contacto{
    display: grid;
    grid-template-columns: repeat(4, 25%);
    grid-template-rows: 9% 37% 19% 20% 15%;
    grid-template-areas: 
    "nav nav nav nav"
    "portada portada portada portada"
    "sec1 sec1 sec1 sec1"
    "sec1 sec1 sec1 sec1"
    "pie pie pie pie";
}


.grid__Nav{
    display: grid;
    grid-area: nav;
    overflow: hidden;

}
.grid__Portada{
    display:grid;
    grid-area: portada;
    overflow: hidden;
}

.grid__Section{
    display: grid;
    grid-area: sec1;
    overflow: hidden;
}
.grid__Pie{
    display: grid;
    grid-area: pie;
    overflow: hidden;
}  */
