@mixin media-query($break-point) {

	@if $break-point== lg {
	
		@media (max-width: 1200px) {
			@content; }
	}
	@if $break-point== md {
		@media (max-width: 768px) {
			@content; }
	}
	@if $break-point== sm {
		@media (max-width: 360px) {
			@content; }
	}
}

@mixin sizes($width, $height) {
    height: $height;
    width: $width;
 }
.centrar{
    justify-content: center;
    align-items: center;
}
.color__cabecera{
    background-color: #53ca98;
    display: flex;
    flex-direction: column;
    flex-wrap:wrap;
    @extend .centrar;
    .logo__hijo{
        display: flex;
        padding: 0;
        .logo{
            @include sizes(75x, 75px);
        }
    }
    .portada__imagen_index {                          
        background-image: url("../images/portada4.jpeg"); 
        background-position:center;
        background-repeat: no-repeat;
        background-size: 100%;
        @include sizes(100%, 25rem);      
        position: center;
        h1{
            display:none;
        }
        @include media-query(md) {
            width: 100%;
        }
        @include media-query(sm) {
            width: 100%;
        }
    }
}
$estilos: (
    color: white,
    centro: center,
    tFuente: 4rem,
  );
.blog__titulo{
    background-color: map-get($estilos, color);
    text-align: map-get($estilos, centro);
    font-size:map-get($estilos, tFuente);
    text-decoration: underline;
    margin: 40px;
    display: flex;
    flex-direction: row;
    margin-top:8rem;
    text-align: center;
}
.blog__subtitulo{
    color: #204580;
    text-align: center;
    font-size: 3rem;
    text-decoration: underline;
    margin: 2rem;
    display: flex;
    flex-direction: row;
}
.blog__contenedor{
    color: #204580;
    top: 25px;
    font-size: 2rem;
    display: flex;
    flex-wrap:wrap;
    flex-direction: column;
    justify-content: space-around;
    .blog__hijo1{
        display: flex;
        flex-direction: row;
        justify-items: center;
        .blog__imagen{
            display: flex;
            margin: 1.5rem;
            @include sizes(300px, 180px);  
            border-radius: 25px;
            justify-content: space-around;
            flex-wrap: wrap;
        }
        .blog__nieto{
            display: flex;
            flex-direction: column;
            justify-items: center;
            @extend .centrar;
            .blog__entradas{
                color: #204580;
                top: 25px;
                font-size: 1.5rem;
                display: flex;
                flex-direction: row;
                flex-wrap:wrap;
                justify-content:space-around;
                align-items: center;
                justify-items: auto;
                line-height: 1.4;
                margin: 1rem;
                text-align: start;
            }       
        }
    }
    .blog__hijo2{
        display: flex;
        flex-direction:row-reverse;
        justify-items: center;
        .blog__imagen{
            display: flex;
            margin: 1.5rem;
            @include sizes(300px, 180px);  
            border-radius: 25px;
            justify-content: space-around;
            flex-wrap: wrap;
        }
        .blog__nieto{
            display: flex;
            flex-direction: column;
            @extend .centrar;
            justify-items: center;  
            .blog__entradas{
                color: #204580;
                top: 25px;
                font-size: 1.5rem;
                display: flex;
                flex-direction: row;
                flex-wrap:wrap;
                justify-content:space-around;
                align-items: center;
                justify-items: auto;
                line-height: 1.4;
                margin: 1rem;
                text-align: start;
            }       
        }
    }
}
.nosotrxs__card{
    display: flex;
    flex-direction: row;
    justify-items: space-around;
    align-items: center;
    padding: 0.75rem;
    margin: 1rem;
    margin-top: 5rem;
    border:  double 0.5rem #FF7C70;
    overflow: hidden;
    .nosotrxs__lista li{
        color: white;
        list-style: lower-greek;
        margin:2rem;
    }
    .nosotrxs__imagen{
        margin: 1rem;
        width: 23.5rem;
        height: 18.5rem;
        border-radius: 1rem;
    }
}
.relatos__entradas{
    margin:0;
    padding:0;
    font-size: 1.5rem;

    .blog__subtitulo{
        margin-top: 0.5rem;
        font-size: 2rem;
    }
}
.destinos__Fotos{
    display: flex;
    flex-direction: column;
    .fotos__Galeria{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        overflow: hidden;
    }
}

.animado__animated{
    background-image: radial-gradient(white, red, white);
    transition: all 4s;
    &:hover{
        transform: scaleY(1.2);
    }
}
@keyframes animado {
    0%{ width: 100px; }
    10%{ width: 50px; 
    background-color:white;}
    25%{ width: 300px; }
    50%{ width: 200px;
     background-color: red; }
    75%{ width: 300px;}
    100%{ width: 100px;
    background-color:white;}
    }
.keyframe__animado {
    width: 100%;
    height: 100%;
    animation-name: animado;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in;
    animation-duration: 60s;
    animation-delay: 5s;
}