@mixin sizes($width, $height) {
    height: $height;
    width: $width;
}
@mixin media-query($break-point) {
	@if $break-point== lg {
		@media (max-width: 1200px) {
			@content;
            .blog__imagen{
                @include sizes(100%,100%);  
            }
        }
	}
	@if $break-point== md {
		@media (max-width: 768px) {
			@content;
            .blog__imagen{
                @include sizes(50%,55%);  
            }
        }
	}
	@if $break-point== sm {
		@media (max-width: 360px) {
			@content;
            .blog__imagen{
                @include sizes(50%,55%);  
            } 
        }
	}
}

@mixin sizes($width, $height) {
    height: $height;
    width: $width;
 }
.centrar{
    justify-content: center;
    align-items: center;
}
.portadas{
    background-position:center;
    background-repeat: no-repeat;
    background-size: 100%;
    @include sizes(100%, 25rem);      
    position: center;
    h1{
        display:none;
    }
    @include media-query(md) {
        width: 100%;
    }
    @include media-query(sm) {
        width: 100%;
    }
}
.color__cabecera{
    background-color: #53ca98;
    display: flex;
    flex-direction: column;
    flex-wrap:wrap;
    @extend .centrar;
    .logo__hijo{
        display: flex;
        padding: 0;
        .logo{
            @include sizes(75x, 75px);
        }
    }
    .portada__imagen_index {                          
        background-image: url("../images/portada4.jpeg"); 
        @extend .portadas;
    }
    .portada__imagen_nosotrxs {                          
        background-image: url("../images/nosotrxs6.jpg"); 
        @extend .portadas;
    }
    .portada__imagen_multimedia {                          
        background-image: url("../images/multimedia2.jpg"); 
        @extend .portadas;
    }
    .portada__imagen_relatos {                          
        background-image: url("../images/relatos.jpg"); 
        @extend .portadas;
    }
    .portada__imagen_contacto {                          
        background-image: url("../images/contacto.jpg"); 
        @extend .portadas;
    }

}
$estilos: (
    color: #022c22ec,
    centro: center,
    tFuente: 1rem,
  );
.blog__titulo{
    background-color: map-get($estilos, color);
    text-align: map-get($estilos, centro);
    font-size:map-get($estilos, tFuente);
    text-decoration: underline;
    margin: 20px;
    display: flex;
    flex-direction: row;
    margin-top:1rem;
    text-align: center;
}
.blog__subtitulo{
    color: #022c22ec;
    text-align: center;
    font-size: 2rem;
    text-decoration: underline;
    margin: 1rem;
    display: flex;
    flex-direction: row;
}
.blog__contenedor{
    color: #022c22ec;
    font-size: 1rem;
    display: flex;
    flex-wrap:wrap;
    flex-direction: column;
    justify-content: space-around;
    .blog__hijo1{
        display: flex;
        flex-direction: column;
        .blog__imagen{
            display: flex;
            margin: 1.5rem;
            @include sizes( 80% , 85%);  
            border-radius: 25px;
            justify-content: space-around;
            flex-wrap: wrap;
            @extend .centrar;
            @include media-query(md) {
                @include sizes( 50% , 55%);
            }
            @include media-query(sm) {
                @include sizes( 50% , 55%);
            }
        }
        .blog__nieto{
            display: flex;
            flex-direction: column;
            .blog__entradas{
                color: #022c22ec;
                font-weight: bold;
                top: 10px;
                font-size: 1rem;
                display: flex;
                flex-direction: row;
                flex-wrap:wrap;
                line-height: 1.4;
                margin-right: 3rem;
                text-align: start;
                @include media-query(lg) {
                    font-size:0.8rem;
                }
                @include media-query(md) {
                    font-size:0.5rem;
                }
                @include media-query(sm) {
                    font-size:0.3rem;;
                }
            }       
        }
    }
}
.entrada__presentacion{
    color: #f1f5f3;
    font-weight: bold;
    font-size: 1rem;
    margin:1.5rem;
    margin-right:3rem;
    @include media-query(lg) {
        font-size:1rem;
    }
    @include media-query(md) {
        font-size:0.8rem;
    }
    @include media-query(sm) {
        font-size:1rem;;
    }
}
.nosotrxs__card{
    display: flex;
    flex-direction: column;
    padding: 0.75rem;
    margin: 1rem;
    margin-top: 2rem;
    overflow: hidden;
    .nosotrxs__lista li{
        color: #022c22ec;
        font-size: 1.5rem;
        margin: 1.5rem;
    }
}
.relatos__entradas{
    padding:0;
    font-size: 1.5rem;
    p{
        margin:1.5rem;
        margin-right:3rem;
        font-size:1rem;
        font-weight: bold;
        flex-wrap: nowrap;
        @include media-query(lg) {
            font-size:0.8rem;
        }
        @include media-query(md) {
            font-size:0.7rem;
        }
        @include media-query(sm) {
            font-size:0.3rem;
        }
    }

    .blog__subtitulo{
        margin-top: 0.5rem;
        font-size: 2rem;
    }
}
.destinos__Fotos{
    display: flex;
    flex-direction: column;
    .fotos__Galeria{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        overflow: hidden;
    }
}
.multimedia__separador{
    margin:1rem;
    margin-right: 1rem;
    @extend .centrar;
    @include media-query(lg) {
        margin:1rem;
    }
    @include media-query(md) {
        margin:1rem;
        margin-bottom: 1rem;
    }
    @include media-query(sm) {
        margin-bottom: 1rem;
        margin-right: 0.001rem;
    }
    .carrusel__imagen{
        width: 100%; 
        height: 25%;
        @extend .centrar;
        @include media-query(lg) {
            margin:1rem;
        }
        @include media-query(md) {
            margin:1rem;
            margin-bottom: 1rem;
        }
        @include media-query(sm) {
            margin-bottom: 1rem;
            margin-right: 0.001rem;
        }
    }
}

.animado__animated{
    background-image: radial-gradient(white, red, white);
    transition: all 4s;
    &:hover{
        transform: scaleY(1.2);
    }
}
@keyframes animado {
    0%{ width: 100px; }
    10%{ width: 50px; 
    background-color:white;}
    25%{ width: 300px; }
    50%{ width: 200px;
     background-color: red; }
    75%{ width: 300px;}
    100%{ width: 100px;
    background-color:white;}
    }
.keyframe__animado {
    width: 100%;
    height: 100%;
    animation-name: animado;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in;
    animation-duration: 60s;
    animation-delay: 5s;
}